.adder-div {
    background-color: #CF8F2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    row-gap: 20px;
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
    cursor: not-allowed;
}

.sign-up-btn:not(:disabled) {
    animation: enable-btn .3s linear;
}

.sign-up-btn {
    background-color: #dad735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    -webkit-box-shadow: 2px 2px 2px #966909;
    box-shadow: 2px 2px 2px #966909;
}

@keyframes enable-btn {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}